<div class="modal" id = "edit-roles-modal">
        <div class="modal-background" id = "edit-roles-BG"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title" >Administrator Access</p>
            <button class="delete" id = "edit-roles-x" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <table class="table is-fullwidth has-text-centered mb-6">
              <tr>
                <th>Set {{casemanager.username}} to Administrator?</th>
             
                <th> 
                  <div class="dropdown-role is-down is-active" id="role-dropdown">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span id="selected-cm">Is Administrator</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu-role" id="role-dropdown-menu" role="menu">
                  <div class="dropdown-content" id = "cm-role">
                  
                    <div class="dropdown-item" value = "true" id ="yes">
                      YES
                    </div> 
                    <div class="dropdown-item" value = "false" id ="no">
                      NO
                    </div> 
               
                  </div>
                </div>
              </div></th>
            </table>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" id = "edit-roles-save">Save</button>
            <button class="button" id = "edit-roles-cancel">Cancel</button>
          </footer>
        </div>
      </div>
    