
<div class="modal on-top" id="login-modal">
  <style>
    .on-top {
      z-index:9999;
    }
  </style>
  <div class="modal-background" id ="login-modal-bg"></div>
  <div class="modal-card">
   
      <p class="modal-card-title"></p>

  
    <section class="modal-card-body">
        <h1 class="title">Login</h1>
               
    
<div class="container field has-addons">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input is-medium"
      id="user-email"
      type="email"
      placeholder="Email"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    </span>
  </p>
</div>
<div class="container field has-addons">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input is-medium"
      id="user-password"
      type="password"
      placeholder="Password"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>

<div class="container field is-grouped">

  <p class="control">
    <a id="login" style="margin-right: 30px;"><strong><i class="fa-solid fa-right-to-bracket" style="margin-right: 10px;"></i>Login</strong></a>
  </p>
    </section>
    </section>
  </div>
</div>

