<div class="modal on-top" id="signup-modal">
   <style>
    .on-top {
      z-index:9999;
    }
  </style> 
  <div class="modal-background" id="signup-BG"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sign Up New User</p>
    </header>
    <section class="modal-card-body">
      <div class="field mt-3">
  <div class="container field has-addons">
    <p class="control has-icons-left has-icons-right">
      <input class="input is-medium" id="name-signup" type="text" placeholder="First and Last Name"/>
        <span class="icon is-medium is-left">
          <i class="fas fa-lock"></i>
        </span>
    </p>
  </div>
  <div class="container field has-addons">
    <p class="control has-icons-left has-icons-right">
      <input class="input is-medium" id="email-signup" type="email" placeholder="Email"/>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
    </p>
  </div>
  <div class="container field has-addons">
    <p class="control has-icons-left has-icons-right">
      <input class="input is-medium"id="password-signup" type="password" placeholder="Password"/>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
    </p>  </div>
    <button class="button is-link" id="new-user" type="submit" value="something">Sign-Up</button> 
    </section>

  </div>
</div>
<script src="/js/signUp.js"></script>