<h1>Audit</h1>
<h3>A#</h3>
<h3>UAC Name</h3>
<h3>DOB</h3>
<h3></h3>
<h3></h3>
<h3></h3>
<input type="checkbox" id = "frp">FRP</input>
<script>
    const frp = document.querySelector("#frp")
    console.log(frp)

    const checkBox = function() {
        frp.checked = "true"
       
    }
    checkBox()

</script>
<input type="checkbox">ARI</input>
<input type="checkbox">Sponsor Assessment</input>
<input type="checkbox">Proof of Address</input>
<input type="checkbox">Proof of Relationship</input>
<input type="checkbox">Letter of Designation</input>
<input type="checkbox">LOPC</input>
<input type="checkbox">Sponsor Background Check</input>
<input type="checkbox">Sponsor ID Received</input>
<input type="checkbox">Fingerprints Taken</input>
<input type="checkbox">HHM ID's Recieved</input>
<input type="checkbox"></input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>
<input type="checkbox">Balls</input>