<section class="section">
  <img id="fieldprint-logo" style="height: 100px" src="../assets/images/fieldprint.png" />

  <h2 class="subtitle">
    This message is to confirm that <span id="fp-confirm-sponsor">{{uac.sponsor_name}}</span> DID ATTEND their
    fingerprint appointment on <span id="fp-confirmation-date"></span>
  </h2>
</section>

<script>
  const sponsorName = document.getElementById("fp-confirm-sponsor")
  const fpConfirm = document.getElementById("fp-confirmation-date")
  const fpConfirmTime = document.getElementById('fp-appt-time')

  const hoy = new Date().toLocaleDateString()
  fpConfirm.textContent = hoy
  hoy
  const confirmTime = new Date().getHours() + 3
  const adjustedConfirm = confirmTime > 12 ? confirmTime - 12 : appTime
  const amOrPm = confirmTime > 11 ? 'pm' : 'am'
  console.log(adjustedConfirm + amOrPm)

  fpConfirmTime.textContent = `${adjustedConfirm}${amOrPm}`

</script>