<section class="section">
  <div class="container">
    <h1 class="title">RU Flow</h1>
    <p class="subtitle is-centered"><strong>Login</strong></p>
  </div>
</section>
<div class="container field has-addons">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input is-medium"
      id="user-email"
      type="email"
      placeholder="Email"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    </span>
  </p>
</div>
<div class="container field has-addons">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input is-medium"
      id="user-password"
      type="password"
      placeholder="Password"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="container field is-grouped">

  <p class="control">
    <button class="button is-link" id="login">Login</button>
  </p>


  <p class="control">
    <a href="/new-user"><button class="button" id="new-user">Sign-Up New User</button></a>
  </p>
  </div>
  </div>
</div>
<script src="./js/login.js"></script>
<script src="https://kit.fontawesome.com/cd8c8fb565.js" crossorigin="anonymous"></script>