<section class="hero is-large">
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="subtitle" style="color: white">Welcome to</h1>
            <img src="/assets/images/Reunify-Min.png" >
            <h1 class="subtitle profession" style="color: white">Supplemental workflow platform for ORR EIS case management.</h1>
          </div>
        </div>
        <!-- End Hero Content-->
      </section>
{{#if logged_in}}
{{else}}
<section class="section">
  <div class="container">
    <h1 class="title">Login</h1>
  </div>
</section>
<div class="container field has-addons">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input is-medium"
      id="user-email"
      type="email"
      placeholder="Email"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    </span>
  </p>
</div>
<div class="container field has-addons">
  <p class="control has-icons-left has-icons-right">
    <input
      class="input is-medium"
      id="user-password"
      type="password"
      placeholder="Password"
    />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="container field is-grouped">

  <p class="control">
    <a id="login" style="margin-right: 30px;"><strong><i class="fa-solid fa-right-to-bracket" style="margin-right: 10px;"></i>Login</strong></a>
  </p>


  <p class="control">
    <a href="/new-user"><strong><i class="fa-solid fa-user-plus" style="margin-right: 10px"></i>Sign up</strong></a>
  </p>
  </div>
  </div>
</div>
<script src="./js/login.js"></script>
<script src="https://kit.fontawesome.com/cd8c8fb565.js" crossorigin="anonymous"></script>
{{/if}}