
<div class="field">
    <form action = "/register" method = "POST">
    <div class="container field has-addons">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" name = "username" id="name-signup" type="text" placeholder="First and Last Name"/>
        <span class="icon is-medium is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="container field has-addons">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" id="email-signup" name = "email" type="email" placeholder="Email"/>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        </span>
      </p>
    </div>
    <div class="container field has-addons">
      <p class="control has-icons-left has-icons-right">
        <input name = "password" class="input is-medium" id="password-signup" type="password" placeholder="Password"/>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
      </div>
      </form>
  <button class="button is-link">Sign-Up New User</button>
  </div>  
  
  
  <script src="/js/signUp.js"></script>
<script src="https://kit.fontawesome.com/cd8c8fb565.js" crossorigin="anonymous"></script>