<div class="field">
  <div class="container field has-addons">
    <p class="control has-icons-left has-icons-right">
      <label>Enter username</label>
      <input
        class="input is-medium"
        id="name-signup"
        type="text"
        placeholder="Name"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="container field has-addons">
    <p class="control has-icons-left has-icons-right">
      <label>Enter Email</label>
      <input
        class="input is-medium"
        id="email-signup"
        type="email"
        placeholder="Email"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="container field has-addons">
    <p class="control has-icons-left has-icons-right">
      <label>Enter Password</label>
      <input
        class="input is-medium"
        id="password-signup"
        type="password"
        placeholder="Password"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div></div>
<button
  class="button is-link"
  id="new-user"
  type="submit"
  value="something"
>Sign-Up</button>

<script src="/js/signUp.js"></script>