<section class="section">
  <div class="container">
    <h1 class="title">Error</h1>
    <p class="subtitle is-centered"><strong>You are not authorized to proceed.</strong></p>
  </div>
</section>

<div class="container field is-grouped">

  <p class="control">
    <a href="/new-user"><button class="button is-link" id="new-user">Sign-Up New User</button></a>
  </p>


  <p class="control">
    <a href="/"><button class="button" id="login">Return To Login</button></a>
  </p>
  </div>
  </div>
</div>
<script src = "./js/logout.js"></script>

<script src="https://kit.fontawesome.com/cd8c8fb565.js" crossorigin="anonymous"></script>